<div class="flex items-center space-x-2">
  <label for="lang-select" class="text-xs font-semibold uppercase tracking-wider text-slate-400">Lang:</label>
  <div class="relative">
    <select 
      [ngModel]="_languageSelect.selectedLanguage()"
  (ngModelChange)="_languageSelect.setLanguage($event)"
    id="lang-select" class="appearance-none bg-slate-800 border border-slate-700 text-slate-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-36 px-3 py-1.5 pr-8 cursor-pointer hover:bg-slate-750 transition-colors focus:outline-none ">
      <option value="typescript" selected>TypeScript</option>
      <option value="javascript">JavaScript</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
      <option value="c">C</option>
      <option value="cpp">C++</option>
      <option value="go">GO</option>
      <option value="rust">Rust</option>
      <option value="php">PHP</option>
      <option value="kotlin">Kotlin</option>
      <option value="html">HTML</option>
      <option value="css">CSS</option>
      <option value="dart">Dart</option>
      <option value="sql">SQl</option>
      <option value="json">JSON</option>

    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-slate-400">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </div>
  </div>
</div>